* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up,
.socialmedia,
.shoutouts {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.services {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 90vh;
}

.products {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 90vh;
}

.sign-up {
  background-image: url('./images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 90vh;
}

.socialmedia {
  background-color: #e0c4c4;
  color: #290303;
  font-size: 3rem;
  height: 145vh;
}

.shoutouts {
  height: 350vh;
  background-color: #e0c4c4;
  color: #290303;
  font-size: 3rem;
}

.title {
  font-size: 80px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.body {
  font-size: 30px;
  text-align: justify;
  margin-bottom: 50px;
}

.list {
  margin-top: 15px;
}

.element {
  margin-bottom: 30px;
}

@media screen and (max-width: 960px) {
  .socialmedia {
    height: 130vh;
    font-size: 2rem;
  }

  .shoutouts {
    height: 300vh;
    font-size: 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .body {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .shoutouts {
    height: 560vh;
  }
}

@media screen and (max-width: 680px) {
  .shoutouts {
    height: 600vh;
  }
}

@media screen and (max-width: 960px) {
  .shoutouts {
    height: 380vh;
  }
}

@media screen and (min-width: 960px) {
  .shoutouts {
    height: 360vh;
  }
}
/* #e0c4c4 #290303 */