* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up,
.socialmedia,
.shoutouts {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.services {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 90vh;
}

.products {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 90vh;
}

.sign-up {
  background-image: url('./images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 90vh;
}

.socialmedia {
  background-color: #e0c4c4;
  color: #290303;
  font-size: 3rem;
  text-align: center;
  height: 145vh;
}

.shoutouts {
  height: 310vh;
  background-color: #e0c4c4;
  color: #290303;
  font-size: 3rem;
}

.title {
  font-size: 60px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.body {
  font-size: 25px;
  text-align: justify;
  margin-bottom: 50px;
  width: 60%;
}

.list {
  margin-top: 15px;
}

.element {
  margin-bottom: 30px;
}

@media screen and (max-width: 1800px) {
  .socialmedia {
    height: 130vh;
    font-size: 2rem;
  }

  .shoutouts {
    height: 300vh;
    font-size: 2rem;
  }
  .title {
    text-align: center;
    font-size: 40px;
  }

  .body {
    font-size: 22px;
    text-align: justify;
  }

}

@media screen and (max-width: 1440px) {
  .socialmedia {
    height: 130vh;
    font-size: 2rem;
  }

  .shoutouts {
    height: 290vh;
    font-size: 2rem;
  }

  .title {
    text-align: center;
    font-size: 40px;
  }

  .body {
    font-size: 20px;
    text-align: justify;
  }

  .list {
    margin-top: 15px;
  }
  
  .element {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 960px) {
  .socialmedia {
    height: 125vh;
    font-size: 1.5rem;
  }

  .shoutouts {
    height: 290vh;
    font-size: 1.5rem;
  }

  .title {
    text-align: center;
    font-size: 40px;
  }

  .body {
    font-size: 18px;
    text-align: center;
  }
  .list {
    margin-top: 15px;
  }
  
  .element {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .socialmedia {
    height: 125vh;
    font-size: 1.5rem;
  }

  .shoutouts {
    height: 330vh;
    font-size: 1.5rem;
  }

  .title {
    text-align: center;
    font-size: 35px;
  }

  .body {
    font-size: 18px;
    text-align: center;
  }
  .list {
    margin-top: 15px;
  }
  
  .element {
    margin-bottom: 20px;
  }
}

/* #e0c4c4 #290303 */