* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up,
.socialmedia,
.shoutouts,
.bowser-guide {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: auto;
}

.services {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('./images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.bowser-guide {
  background-color: #e0c4c4;
  color: #290303;
  font-size: 3rem;
  text-align: center;
}

.socialmedia {
  background-color: #e0c4c4;
  color: #290303;
  font-size: 3rem;
  text-align: center;
}

.shoutouts {
  background-color: #e0c4c4;
  color: #290303;
  font-size: 3rem;
}

.title {
  font-size: 60px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

img {
  max-width: 100%;
  height: auto;;
}

.body {
  font-size: 25px;
  text-align: justify;
  margin-bottom: 50px;
  width: 80%;
}

.list {
  margin-top: 15px;
}

.element {
  margin-bottom: 30px;
}

@media screen and (max-width: 1800px) {
  .socialmedia {
    height: auto;
    font-size: 2rem;
  }

  .bowser-guide {
    height: auto;
    font-size: 2rem;
  }

  .shoutouts {
    height: auto;
    font-size: 2rem;
  }
  .title {
    text-align: center;
    font-size: 40px;
  }

  .body {
    font-size: 22px;
    text-align: justify;
  }
  img {
    max-width: 80%;
    height: auto;
  }

}

@media screen and (max-width: 1440px) {
  .socialmedia {
    height: auto;
    font-size: 2rem;
  }

  .bowser-guide {
    height: auto;
    font-size: 2rem;
  }

  .shoutouts {
    height: auto;
    font-size: 2rem;
  }

  .title {
    text-align: center;
    font-size: 38px;
  }

  .body {
    font-size: 20px;
    text-align: justify;
  }
  
  img {
    max-width: 80%;
    height: auto;
  }

  .list {
    margin-top: 15px;
  }
  
  .element {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 960px) {
  .socialmedia {
    height: auto;
    font-size: 1.5rem;
  }

  .bowser-guide {
    height: auto;
    font-size: 1.5rem;
  }

  .shoutouts {
    height: auto;
    font-size: 1.5rem;
  }

  .title {
    text-align: center;
    font-size: 36px;
  }

  .body {
    font-size: 18px;
    text-align: left;
  }

  
  img {
    max-width: 70%;
    height: auto;
  }

  .list {
    margin-top: 15px;
  }
  
  .element {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .socialmedia {
    height: auto;
    font-size: 1.5rem;
  }

  .bowser-guide {
    height: auto;
    font-size: 1.5rem;
  }

  .shoutouts {
    height: auto;
    font-size: 1.5rem;
  }

  .title {
    text-align: center;
    font-size: 32px;
  }

  .body {
    font-size: 18px;
    text-align: left;
  }
  
  img {
    max-width: 60%;
    height: auto;
  }

  .list {
    margin-top: 15px;
  }
  
  .element {
    margin-bottom: 20px;
  }
}

/* #e0c4c4 #290303 */